<div class="main-body-container">
  <div class="hero-banner">
    <div class="hero-image">
      <img src="assets/img/hero-banner.png" alt="Hero Banner Image">
    </div>
    <div class="hero-text">
      <h1>A Sip of Happiness. A Sip of Extraordinary</h1>
      <p>At BareBrew, every cup is brewed to perfection, offering you the warmth and comfort of a perfect coffee moment.
      </p>
      <a routerLink="about"><button class="learn-more-btn">Learn more</button></a>
    </div>
  </div>
</div>




<div class="about-us">
  <div class="about-text">
    <h2>About Us</h2>
    <p>Welcome to BareBrew, where every sip is a journey of taste and comfort. At BareBrew, we are passionate about
      crafting the perfect coffee experience for you. Our mission is to provide not just a cup of coffee but a moment of
      happiness in your busy life. Our skilled baristas use only the finest beans, ensuring each cup is brewed to
      perfection. Join us and indulge in our diverse range of coffee and pastries, crafted with love and dedication.</p>
    <p>We believe that great coffee brings people together and creates memorable moments. Whether you're looking for a
      cozy place to work, a spot to catch up with friends, or simply a place to relax, BareBrew is your perfect
      destination. Our warm and welcoming atmosphere combined with our exceptional coffee and pastries makes us a
      beloved part of the community. Come visit us and discover why BareBrew is more than just a coffee shop; it's a
      place where happiness is brewed fresh daily.</p>
  </div>
  <div class="about-image">
    <img src="assets/img/about-us.jpg" alt="About Us">
  </div>
</div>




<div class="our-products-container">
<h1>Our Products</h1>

<h2>Coffee</h2>
<div class="card-container">
  <div class="card">
    <img src="assets/img/cappuccino.png" alt="Cappuccino" style="width:100%">
    <div class="container">
      <h3><b>Cappuccino</b></h3>
      <p>PHP 149.00</p>
    </div>
  </div>

  <div class="card">
    <img src="assets/img/latte.png" alt="Latte" style="width:100%">
    <div class="container">
      <h3><b>Latte</b></h3>
      <p>PHP 139.00</p>
    </div>
  </div>

  <div class="card">
    <img src="assets/img/espresso.png" alt="Espresso" style="width:100%">
    <div class="container">
      <h3><b>Espresso</b></h3>
      <p>PHP 129.00</p>
    </div>
  </div>

  <div class="card">
    <img src="assets/img/mocha.png" alt="Mocha" style="width:100%">
    <div class="container">
      <h3><b>Mocha</b></h3>
      <p>PHP 159.00</p>
    </div>
  </div>

  <div class="card">
    <img src="assets/img/caramel-macchiato.png" alt="Macchiato" style="width:100%">
    <div class="container">
      <h3><b>Macchiato</b></h3>
      <p>PHP 169.00</p>
    </div>
  </div>

  <div class="card">
    <img src="assets/img/americano.png" alt="Americano" style="width:100%">
    <div class="container">
      <h3><b>Americano</b></h3>
      <p>PHP 119.00</p>
    </div>
  </div>
</div>


<h2>Pastry</h2>
<div class="card-container">
  <div class="card">
    <img src="assets/img/brownie.png" alt="Cappuccino" style="width:100%">
    <div class="container">
      <h3><b>Brownie</b></h3>
      <p>PHP 149.00</p>
    </div>
  </div>

  <div class="card">
    <img src="assets/img/croissant.png" alt="Latte" style="width:100%">
    <div class="container">
      <h3><b>Croissant</b></h3>
      <p>PHP 139.00</p>
    </div>
  </div>

  <div class="card">
    <img src="assets/img/glazed-donut.png" alt="Espresso" style="width:100%">
    <div class="container">
      <h3><b>Glazed Donut</b></h3>
      <p>PHP 129.00</p>
    </div>
  </div>

  <div class="card">
    <img src="assets/img/garlic-bread.png" alt="Mocha" style="width:100%">
    <div class="container">
      <h3><b>Garlic Bread</b></h3>
      <p>PHP 159.00</p>
    </div>
  </div>

  <div class="card">
    <img src="assets/img/cookie.png" alt="Macchiato" style="width:100%">
    <div class="container">
      <h3><b>Cookie</b></h3>
      <p>PHP 169.00</p>
    </div>
  </div>

  <div class="card">
    <img src="assets/img/cinnamon-roll.png" alt="Americano" style="width:100%">
    <div class="container">
      <h3><b>Cinnamon Roll</b></h3>
      <p>PHP 119.00</p>
    </div>
  </div>
</div>
</div>
